/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// KnowParts_*_*.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    
    개요 : 부품 상세 페이지 CSS
    설명 : 
        - 부품 알고가기->상세 부품 선택 시 사용
        - style에 작성하면 가독성이 떨어지므로 분리
*/

article .left-box {
    width: 480px;
}

article .middle-box {
    width: 959px;
}

article .menu:first-child {
    margin-left: 185px;
}

article .margin-right {
    width: 276px;
}

article .center-line {
    width: 360px;
}

article .knowparts-header {
    width: 900px;
    float: left;
    padding: 40px 20px;
    overflow: hidden;
}

    article .knowparts-header .knowparts-header-icon {
        float: left;
        width: 100px;
        height: 100px;
    }

    article .knowparts-header .knowparts-header-title {
        height: 60px;
        font-size: 48px;
        color: #FFC000;
        margin: 20px 10px;
        float: left;
    }

article .knowparts-body {
    height: 100px;
    width: 800px;
    float: left;
    padding: 0 60px;
}

    article .knowparts-body li {
        font-size: 20px;
        line-height: 50px;
    }
