/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// _All.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 공용 CSS
    설명 : 
        - 전체적인 스타일 초기화
        - 공용 스타일 지정
*/

* {
    margin: 0;
    padding: 0;
    font-family: ‘맑은 고딕’, ‘Malgun Gothic’, Gothic, sans-serif;
    color: #7F7F7F;
}

a {
    color: #181818;
    text-decoration: none;
}

img:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}

li {
    list-style: none;
}

body {
    width: 1920px;
    margin: 0 auto;
}