/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// Header.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 상단 로고 및 타이틀 CSS
    설명 : 
        - 상단 로고 및 타이틀 레이아웃
        - HTML과 함께 사용
        - subtitle 클래스의 내용만 HTML에서 수정하여 사용
*/


header {
    text-align: center;
    margin: 35px;
}

    /*****************/
    /* 사이트 부제목 */
    /*****************/
    header .subtitle {
        width: 500px;
        height: 50px;
        margin: 10px auto;
        border-bottom: 1px solid #BFBFBF;
        font-size: 28px;
    }